!  ██╗░░██╗██████╗░███████╗███████╗░██████╗░██╗░░░██╗██████╗░░██████╗███████╗███████╗
!  ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║░░░██║██╔══██╗██╔════╝██╔════╝██╔════╝
!  ░╚███╔╝░██████╔╝█████╗░░███████╗██║░░░██║██║░░░██║██████╔╝██║░░░░░█████╗░░███████╗
!  ░██╔██╗░██╔══██╗██╔══╝░░╚════██║██║░░░██║██║░░░██║██╔══██╗██║░░░░░██╔══╝░░╚════██║
!  ██╔╝░██╗██║░░██║███████╗███████║╚██████╔╝╚██████╔╝██║░░██║╚██████╗███████╗███████║
!  ╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝░╚═════╝░░╚═════╝░╚═╝░░╚═╝░╚═════╝╚══════╝╚══════╝


!  ░█▀▀░█▀█░█░░░█▀█░█▀▄░█▀▀
!  ░█░░░█░█░█░░░█░█░█▀▄░▀▀█
!  ░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀

#include "/home/uriel/.cache/wal/colors.Xresources"

!  ░█▀▀░█▀█░█▀█░▀█▀░█▀▀
!  ░█▀▀░█░█░█░█░░█░░▀▀█
!  ░▀░░░▀▀▀░▀░▀░░▀░░▀▀▀

Xft.antialias: true
Xft.hinting: true
Xft.rightScrollBar: rgb
Xft.autohint: true
Xft.hintstyle: full
Xft.lcdfilter: lcddefault

!  ░█░█░█▀▄░█░█░█░█░▀█▀
!  ░█░█░█▀▄░▄▀▄░▀▄▀░░█░
!  ░▀▀▀░▀░▀░▀░▀░░▀░░░▀░

URxvt.cursorBlink: 1
URxvt.font: xft:DejaVu Sans Mono for Powerline:pixelsize=13:antialias=true,xft:DejaVu Sans Mono for Powerline
URxvt.boldFont: xft:DejaVu Sans Mono for Powerline:pixelsize=13:weight=bold:antialias=true,xft:DejaVu Sans Mono for Powerline
URxvt.italicFont: xft:DejaVu Sans Mono for Powerline:pixelsize=13:weight=italic:antialias=true,xft:DejaVu Sans Mono for Powerline

URxvt.lineSpace: 0
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.internalBorder: 22
URxvt.geometry: 72x22
URxvt.thickness: 5
URxvt.titleBar: true
URxvt.intensityStyles: false
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput: true
URxvt.cursorUnderline: true
URxvt*allow_bold: true
URxvt*iso14755: False

URxvt.perl-ext-common: fullscreen,resize-font,matcher,clipboard
URxvt.keysym.F11: perl:fullscreen:switch
URxvt.keysym.C-Down: resize-font:smaller
URxvt.keysym.C-Up: resize-font:bigger
URxvt.url-launcher: firefox
URxvt.matcher.button: 1

!  ░█░█░▀█▀░█▀▀░█▀▄░█▄█
!  ░▄▀▄░░█░░█▀▀░█▀▄░█░█
!  ░▀░▀░░▀░░▀▀▀░▀░▀░▀░▀

XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.vt100.saveLines: 16384
XTerm.vt100.faceName: xft:MesloLGS NF:size=10.5:antialias=true
XTerm.vt100.bellIsUrgent: true
XTerm.letterSpace: 0
XTerm.scaleHeight: 1.01
XTerm.faceSize: 10
XTerm.internalBorder: 32
XTerm.vt100*geometry: 70x13
XTerm.loginShell: true
XTerm.charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
XTerm.eightBitInput: false
